[submodule "Submodules/AMReX-Hydro"]
	path = Submodules/AMReX-Hydro
	url = https://github.com/AMReX-Fluids/AMReX-Hydro.git
[submodule "Submodules/PelePhysics"]
	path = Submodules/PelePhysics
	url = git@github.com:PaulMullowney/PelePhysics.git
	branch = rocShore-rebased
